html{
    scroll-behavior: smooth;
}
#body1{
    font-family: 'Comfortaa', cursive;
    margin: 0;
}
#logo{
    font-size: 30px;
    font-weight: bolder;
}
span{
    color: #00dd00;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%; 
}
nav ul{
    margin-left: 300px;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 15px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    color: #00dd00;
    cursor: pointer;
    text-decoration: underline;
}
#sign-up{
    text-decoration: none;
    border-radius: 30px;
    padding: 2px 7.5px;
    background-color: transparent;
    border: 1px solid black;
    color:black;
}
#sign-up:hover{
    color: white;
    transform: scale(1.2);
    background-color: #00dd00;
    border: transparent;
}

#page1 div img{
    margin-left: 400px;
    border-radius: 150px 50px;
}
#page1{
    display: inline-flex;
}
#content{
    margin-left: 50px;
}
#content h2{
    font-size: 50px;
    font-weight: bolder;
    margin: 7.px;
}
#content h3{
    font-size: 15px;
    font-weight: lighter;
}
#ebike{
    margin-left: 500px;
}
#features{
    display: inline-flex;
    text-align: center;
}
#features div{
    margin: 40px 60px;
}
#features div h3{
    font-size: 15px;
    color: black;
    font-weight: lighter;
    padding: 5px;
    margin-top: 50px;
}
#features div i{
    color: #00dd00;
    font-size: 40px;
}
#Ride{
    background-color: white;
    color:black;
    border-radius: 30px;
    border: transparent;
    padding: 10px;
    margin-top: 40px;
    box-shadow: 5px 5px 10px black;
    font-family: 'Comfortaa', cursive;
}
#section1{
    background-color: #d5ffd5;
}

/************************************styling for section 2*******************************/
#page2 {
    display: inline-flex;
    width: 100%;
}
#heading{
    font-size: 40px;
    text-align: center;
    color: #00dd00;
}
#section2 #app{
    margin-left: 200px;
}
#section2 #instructions h2{
    font-size: 25px;
    font-weight: bolder;
    width: fit-content;
    cursor: pointer;
}
#section2 #instructions h2:hover{
    color: #00dd00;
}
#section2 #instructions h2{
    width: fit-content;
    margin: 25px;
    margin-left: 50px;
}
#section2 #instructions p{
    width: fit-content;
    margin-left: 50px ;
}
#section2 #instructions i{
    color: #00dd00;
    font-size: 40px;
    margin-left: 25px;
}




/*********************************** styling for login page ******************************/
#body2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Comfortaa', cursive;
}
#container1{
    display: inline-flex;
    font-size: 20px;
    width: 800px;
    margin: 20px; 
    padding: 40px;
    box-shadow: 0 0 40px black;
    border-radius: 30px;
    background-color:white;
}
#bike img{
    border-radius: 30px;
    margin: 0 25px 0 100px;
}
#login #title{
    font-size: 25px;
    color: black;
    margin-bottom: 20px;
    text-align: center;
}
#login #error1,
#error2, #error3{
    font-size: 15px;
    width: fit-content;
    margin-bottom: 20px 0 20px 0;
    color: red;
}
#login #input1 #email, #password{
    font-size:15px;
    color: black;
    margin: 20px 0;
    background-color: transparent;
    border-radius: 20px;
    border: transparent;
    box-shadow: 0 0 10px black;
    padding: 10px;
}
#login #input1 #email, #password:hover{
    color: black;
}
#login #loginbutton{
    font-size:15px;
    color: black;
    margin: 20px 0;
    background-color: transparent;
    border-radius: 20px;
    border: transparent;
    box-shadow: 0 0 10px black;
    padding: 7.5px;
}
#login #loginbutton:hover{
    background-color: #00dd00;
    color: white;
    cursor: pointer;
}
#login #loginbutton:active{
    transform: scale(0.9);
}
#login #Forgot-password, #create-account{
    font-size: 15px;
    color: black;
    margin: 20px 0;
    text-decoration: none;
    cursor: pointer;
}
#login  #create-account:hover{
    text-decoration: underline;
}
#login #Forgot-password:hover{
    text-decoration: underline;
}
#login p{
    font-size: 15px;
    text-align: center;
}

/**************************style for create account page *************************/
#section0{
    height: 100vh;
}
#createaccount #title{
    font-size: 30px;
    color: black;
    margin-bottom: 20px;
}
#container{
    display: inline-flex;
    border-radius: 30px;
    background-color:white;
}
#createaccount #error1,
#error2, #error3{
    font-size: 15px;
    width: fit-content;
    margin-bottom: 20px 0 20px 0;
    color: red;
}
#createaccount #input1 #username, #address, #password1, #password2{
    font-size:15px;
    color: black;
    margin: 20px 0;
    background-color: transparent;
    border-radius: 20px;
    border: transparent;
    box-shadow: 0 0 10px black;
    padding: 10px;
}
#createaccount #input1 #address, #password1, #password2:hover{
    color: black;
}
#createaccount #account{
    font-size:15px;
    color: black;
    margin: 20px 0;
    background-color: transparent;
    border-radius: 20px;
    border: transparent;
    box-shadow: 0 0 10px black;
    padding: 7.5px;
}
#createaccount #account:hover{
    background-color: #00dd00;
    color: white;
    cursor: pointer;
}
#createaccount #account:active{
    transform: scale(0.9);
}
#createaccount #signin{
    font-size: 15px;
    color: black;
    margin: 20px 0;
    text-decoration: none;
}
#createaccount  #signin:hover{
    text-decoration: underline;
}
#createaccount p{
    font-size: 15px;
}
/**************************** styling for user profiles page ***********************/

#registration input{
    font-size:15px;
    color: black;
    background-color: white;
    border-radius: 20px;
    border: transparent;
    box-shadow: 0 0 10px black;
    padding: 7.5px;
}
#registration #submit{
    margin-top: 20px;
}
#section5{
    height: 100vh;
    margin: 0;
    /* background-color: #d5ffd5; */
}
#registration{
    text-align: center;
    padding: 10px;
}
#section3 h1{
    text-align: center;
    padding: 10px;
}
#section3 h1:hover{
    color: #00dd00;
}
#usernames li{
    margin: 30px;
    font-size: 15px;
    width: fit-content;
}
#usernames li:hover{
    color: #00dd00;
    cursor: pointer;
}
#userdisplays h1{
    font-size: 30px;
    font-weight: bolder;
    margin: 30px 0;
    text-align: center;
}
#section3{
    height: 100vh;
    margin: 0;
    background-color: #d5ffd5;
}

/**************************styling the footer ******************************************/
#section4{
    background-color: #00dd00;
    color: white;
    text-align: center;
}
#footer{
    display: inline-flex;
}
#footer div{
    margin: 0 50px;
}
#aboutus, #contact{
    font-size: 15px;
}
#aboutus li{
    margin: 7.5px 0;
}
#contact li{
    margin: 7.5px 0;
}
#copyright{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
    padding: 0 0 20px 0;
    letter-spacing: 2px;
}
#section4{
    height: 25vh;
}